.navbar-brand,
.jumbotron h1 {
  font-family: "Anton", sans-serif;
}
.jumbotron,
.card h5 {
  text-align: center;
}

.jumbotron {
  background-image: linear-gradient(rgba(1, 5, 10, 0.8), rgba(12, 44, 94, 0.3)),
    url(../assets/burger.jpg);
  background-size: cover;
}

.container {
  margin-bottom: 10px;
}
